@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body{
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
}

.header.container {
    height: 80vh;
    background-image: url('header.jpg');
    background-color: #3d3745;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    vertical-align: middle;
}

.title-text {
    color: #2dcc70;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 4.5rem;
    vertical-align: middle;
}