html, body{
    font-family: arial;
    font-size: 12px;
}

.header.container {
    height: 80vh;
    background-image: url('{{ site.baseurl }}/img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}