<div class="ui fluid header container" id="fancyheader">
        <div class="title-text">
            <img src="{{ site.url }}/bill-organizer/img/icon.png" style="height: 100px;vertical-align:middle"> Owl<font color="white">ganizer</font>
            <p style="font-size:0.25em;"></p>
            <a class="ui inverted large button" href="https://github.com/nus-mtp/bill-organizer"><i class="github icon"></i> Github</a>
            <a class="ui inverted large button" href="https://billorg.herokuapp.com/">Website</a>
        </div>
</div>
