// Typography

$font-url: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Varela+Round';
$base-font-name: 'Varela Round' !default;
$base-font-size: 16px;
$heading-font-name: 'Source Sans Pro';
$base-font-family: $base-font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$heading-font-family: $heading-font-name, sans-serif;

//Color

$emerald-green: #2ecc71;
$sea-green: #229553;

$coquelicot: #e53d00;

$middle-yellow: #ffe900;
$naples-yellow: #fada5e;

$smashed-pumpkin: #f26c4f;

$manganese-blue: #2e7ecf;
$azurish-white: #dbf9f4;

$peach: #f7c597;

$baby-powder: #fffffa;

$black: #000;
$errie-black: #1a1a1a;
$onyx-black: #3c3744;
$dark-liver: #4d4d4d;
$trolley-grey: #808080;
$ash-grey: #b3b3b3;
$pastel-grey: #ccc;
$plantinum: #e4e4e4;
$anti-flash-white: #f2f2f2;
$white:#fff;

$primary-color: $emerald-green;
$error-color: $smashed-pumpkin;
$info-color: $azurish-white;
$warning-color: $naples-yellow;
$bill-green: $emerald-green;
$text-color: $onyx-black;



