<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
</head>

<body>
    {% include header.html %}

    <div class="ui centered relaxed grid">
        <div class="four wide column">
            <div class="ui left fixed vertical fluid menu">
                <div class="item">
                    <div class="header">BillOrganiser</div>
                    <div class="menu">
                        <a class="item" href="#intro">Introduction</a>
                        <a class="item" href="#features">Features</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Getting Started</div>
                    <div class="menu">
                        <a class="item">Download</a>
                        <a class="item">Install</a>
                        <a class="item">Run</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Contributing</div>
                    <div class="menu">
                        <a class="item">Setup</a>
                        <a class="item" href="#readme">Common Errors</a>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Support</div>
                    <div class="menu">
                        <a class="item">The Team</a>
                        <a class="item">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="ten wide column">
            <div class="ui basic segment" id="intro">
                <p>BillOrganiser is a alskdlhfkhsd askdhfkjhsdf aksdhfkjs.</p>
            </div>
            <div class="ui basic segment" id="features">
                <h1>Features</h1>
                <p>insert demo video here and maybe some words</p>
            </div>
            <div class="ui basic segment" id="readme">
                {{ content }}
            </div>
            <div class="ui basic segment" id="team">
                <h1>elegant-owls</h1>
                <p>team members here</p>
            </div>
        </div>
    </div>
</body>

</html>
