<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    </head>
    <body>
        {% include header.html %}
        
        <div class="ui centered grid">
            <div class="fourteen wide column">
                {{ content }}            
            </div>       
        </div>
    </body>
</html>